@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');

* {
  text-align: center;
}

h1 {
  font-size: 96px;
  font-family: 'Work Sans', sans-serif;
}

select {
  height: 30px;
}

input {
  height: 30px;
}

button {
  height: 30px;
  text-transform: uppercase;
}